<%- include("./partials/header.ejs") %>
<title>Perguntas</title>
    <body>
        <%- include("./partials/navbar.ejs") %>
        <div class="container">
            <div class="card" id="form-pergunta">
                <div class="card-header">
                    <h3>Perguntas</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="/savequestion">
                        <label>Título</label>
                        <input type="text" placeholder="pergunta ai" class="form-control" name="titulo">
                        <br>
                        <label>Pergunta</label>
                        <textarea placeholder="conta mais sobre tua pergunta" class="form-control" name="descricao"></textarea>
                        <br>
                        <button class="btn btn-info">Perguntar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
<%- include("./partials/footer.ejs") %>
